
%table{:class => "table"}
  %tr
    %td 
      %p
        %b Interviewer 1
      %p
        %b Score
      %p
        %b Comments
    %td
      %p=interview.interviewer_1
      %p=interview.score_1
      %p=interview.notes_1
  %tr
    %td 
      %p
        %b Interviewer 2
      %p
        %b Score
      %p
        %b Comments
    %td
      %p=interview.interviewer_2
      %p=interview.score_2
      %p=interview.notes_2
  %tr
    %td 
      %p
        %b Interviewer 3
      %p
        %b Score
      %p
        %b Comments
    %td
      %p=interview.interviewer_3
      %p=interview.score_3
      %p=interview.notes_3
      


      

      
