%table{:class => "table"}
  %tr
    %td 
      %p
        %b Author
    %td
      %p=group_interview.author
  %tr
    %td 
      %p
        %b Score
    %td
      %p=group_interview.score
  %tr
    %td 
      %p
        %b Comments
    %td
      %p=group_interview.comments